[2014-08-12 01:45] Vasiliy-Bondarenko opened #1 "update for readme"
update for readme:

php artisan asset:publish --package="Snowfire/Beautymail"
=>
php artisan asset:publish "Snowfire/Beautymail"

[2014-08-13 10:08] #1 closed, assigned to nobody

[2014-11-14 08:12] syphernl opened #2 "Mails content is empty"
If I try to send a mail with this package (or with the views provided actually) the mail content turns up empty. I have used the example from the readme.

[2015-01-21 17:39] bgarrison25 commented on #2
This is a real issue. Installing ruby just to have a working inliner makes this plugin unusable for me and many others. Any news on an alternative?

[2015-02-09 13:03] heremiguel opened #3 "Installation"
Hi,
I followed the steps but I didn't get installed.
1. When you said add to composer.php you mean add to composer.json to "require" section?
2. I added to composer.json and got this error:
 [RuntimeException]
  Error Output: PHP Fatal error:  Class 'Snowfire\Beautymail\BeautymailServiceProvider' not found in /lamp/vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php on line 1

[2015-02-09 14:18] emilsundberg commented on #3
1) Yes to the required section. You will also need to run `composer update` after you've edited composer.json

[2015-02-09 14:24] heremiguel commented on #3
Thank you very much mate! everything work.
I think you need to clarify when you update composer.json instead composer.php you have to run composer update. Maybe it's obvious but more info is good than less. ;)
Thank you

[2015-02-09 20:41] #3 closed

[2015-02-09 20:45] emilsundberg commented on #2
@bgarrison25 No, sorry but I'm open to pull requests!

[2015-02-09 20:45] #2 closed

[2015-02-26 17:47] bgarrison25 opened #4 "Installed ruby and all recommended gems and getting "Premailer or getopt gems not installed""
As the title states I have all gems installed :

[code]
However I am still getting "Premailer or getopt gems not installed" error when trying to do the simple test provided in your install instructions.

[2015-02-26 22:03] bgarrison25 commented on #2
I have put in a pull request to an inliner that works well and does not require ruby.

[2015-03-17 19:50] brentnd opened #6 "Dependency for composer"
I couldn't get composer to install beautymail. I have a Laravel 5 installation.

Only emil/inlier [dev-master] has support for Laravel 5, but snowfire/beautymail [dev-master] requires emil/inliner [1.*] which doesn't work for Laravel 5.

[2015-03-21 09:23] emilsundberg commented on #6
I have updated inliner to work with L5 so Beautymailer should be installable on L5. If the package needs more adjustments in L5, feel free to make PR.

[2015-03-21 09:23] #6 closed

[2015-03-21 09:25] emilsundberg commented on #4
@bgarrison25 Open your Premailer.class.php and see which output you get on line 142 in the getConvertedHtml() method. This usually provides us with a better error message to know what's wrong.

[2015-07-03 09:17] walkerstone opened #7 "Typo in readme"
Run `composer updated` and edit your app.php and add a new Service Provider:

to

Run `composer update` and edit your app.php and add a new Service Provider:

[2015-07-03 10:24] #4 closed

[2015-07-07 09:12] emilsundberg commented on #7
Thanks, fixed

[2015-07-07 09:12] #7 closed

[2015-07-16 21:41] burgoyn1 opened #8 "Laravel 5.1 Support"
tried installing this in laravel 5.1 and the asset:publish command is no longer available and when I tried to add the service provider it can not find the package.

[2015-07-21 05:43] esprajwol commented on #1
for laravel 5 it should be

     php artisan vendor:publish

[2015-07-21 15:19] emilsundberg commented on #8
Beautymail is now Laravel 5 compatible in the master branch. I will tag a 2.0 release shortly.

[2015-07-21 15:19] #8 closed

[2015-07-21 15:21] emilsundberg commented on #6
I have made this package Laravel 5 compatible now if you use dev-master

[2015-07-21 15:22] emilsundberg commented on #4
I have removed all ruby dependencies in dev-master for Laravel 5

[2015-07-23 19:27] iamgoodbytes opened #9 "Can't change the logo without editing the /vendor directory?"
Hi! I'd like to use the minty template, but can't seem to change the logo without changing the contents of the vendor directory. Of course, changing the vendor directory isn't something I want to do as that would break future updates of Beautymail.

What would you suggest? Thanks a lot.

Joris

[2015-07-23 19:53] iamgoodbytes commented on #9
Just noticed that the vendor folder is inside the /public folder, sorry about that!

[2015-07-23 19:53] #9 closed

[2015-07-24 11:29] emilsundberg commented on #9
Np :)

[2015-08-10 08:54] djsmemories opened #12 "Please set some HTML first before calling emogrify."
Hi,

when I try to send a smple minty template using your example, or any other template as well, I receive the following error:

BadMethodCallException in Emogrifier.php line 196:
Please set some HTML first before calling emogrify.

Colud you lend me some helping hands? :)

PS.: The template has HTML tags :)

[2015-08-10 12:02] ruelluna commented on #12
Same here.
```Please set some HTML first before calling emogrify.```

[2015-08-10 19:29] emilsundberg commented on #12
Are you on Laravel 5.1? I just did a clean install with only this package and it works fine for me with all templates with the example code in the readme.

I have simplified the installation instructions. Try to remove your `public/vendor/beautymail` directory and remove `config/beautymail.php` and run `php artisan vendor:publish` again so you have the latest from the package.

Please provide full

[2015-08-11 02:47] ruelluna commented on #12
@emilsundberg
[code]

[2015-08-11 07:48] emilsundberg commented on #12
How does the code looks that sends the email?

If you look at CssInlinerPlugin.php it seems like it can't find a email body on the $message object.

[2015-08-11 08:22] ruelluna commented on #12
@emilsundberg Just this
[code]

[2015-08-12 19:53] emilsundberg commented on #12
I'm not able to reproduce the error, which makes it hard to solve. Try to open `CssInlinerPlugin.php` and dump data to see why there is no data in the message object.

[2015-08-21 07:56] anandatheerthan opened #13 "Class App\Http\Controllers\Snowfire\Beautymail\Beautymail does not exist"
I have added in provider array but getting error ReflectionException in Container.php line 736:
Class App\Http\Controllers\Snowfire\Beautymail\Beautymail does not exist

[2015-08-21 08:04] phroggyy commented on #13
@anandatheerthan it looks to me like you aren't importing the Beautymail class in your controller. How are you using it? If you are writing out the FQCN in your code rather than using a `use` statement, make sure to add a leading backslash.

[2015-08-23 23:57] anandatheerthan commented on #13
This is how I am using it and I am not getting error,"FatalErrorException in Beautymail.php line 37:
Unsupported operand types"
$beautymail = app()->make(\Snowfire\Beautymail\Beautymail::class);
		$beautymail->send('emails.order', $details, function($message)
		{
			$message
				->from('bar@example.com')
				->to('anand@an-t.in', 'John Smith')
				->subject('Welcome!');
		});

[2015-08-24 06:36] phroggyy commented on #13
@anandatheerthan what do your `$details` look like? Also, please format your code with markdown in the future for readability.

[2015-08-24 06:38] phroggyy commented on #13
Ah, I think I've found the problem. I'll fix it within an hour and you can try again after that.

[2015-08-24 08:44] phroggyy commented on #13
@anandatheerthan this should be resolved now.

[2015-08-25 04:26] anandatheerthan commented on #13
Hi, I now get error
    ErrorException in Emogrifier.php line 269:
    DOMXPath::query(): Invalid expression

The $details is an array contains values.

[2015-08-25 05:21] phroggyy commented on #13
@anandatheerthan is it the same one as the one your were trying above? I'll have a look at it tonight!

[2015-08-25 06:06] anandatheerthan commented on #13
Yes its the same.

Regards,
Anand

[2015-09-02 03:40] anandatheerthan commented on #13
Hi Mate,
Did you get a chance to look into this issue.

[2015-09-03 11:24] #12 closed

[2015-09-10 06:13] esprajwol opened #17 "path error issue"
For laravel 5.0 , i just updated composer , and this error is occurring

    ErrorException in Beautymail.php line 58:
    Undefined index: path

[2015-09-10 09:24] emilsundberg commented on #17
Are you running Laravel 5.0.22?

[2015-09-10 09:36] esprajwol commented on #17
I solved it .. there was mis-configuration on the beautymail config file on /
The path item was missing on the file .

[2015-09-18 10:25] SerbanC opened #18 "Readme not correct for Laravel 5.0.33"
Hi,

After some trial and error I managed to get Beautymail running on my Laravel 5.0.33 app, with the following change to the steps in your readme:

* In ```config/app.php```, if I put

[code]
   it throws the error:

[code]

   The way it worked for me was to put (without `::class`)

[code]

Also, I think some configuration steps are missing from the readme:
* In your own comment [here](https://

[2015-09-18 10:48] phroggyy commented on #18
Hey Serban,

1. Make sure that you place `Snowfire\Beautymail\BeautymailServiceProvider::class` **without** surrounding it by apostrophes. `::class` is PHP goodness for resolving the name of the class.
2. You do not need to create an alias, what was mentioned as `importing` was simply a reference to the `use` statement, which is used throughout Laravel so you should be familiar with it. You could

[2015-09-18 10:52] #17 closed

[2015-09-18 10:54] phroggyy commented on #13
@anandatheerthan sorry for not getting back to you, had a hectic time. If you still face this issue, could you post the full traceback here?

[2015-09-18 11:38] SerbanC commented on #18
Hi Leo,

I did get it working by using `Snowfire\Beautymail\BeautymailServiceProvider::class` without quotes. Figured out the array as well, but I needed a little snooping inside the package code. Thanks

[2015-09-18 11:38] #18 closed

[2015-10-08 18:37] mitacliff opened #19 "Queuing"
Does this package supporting queuing?

[2015-10-08 23:19] phroggyy commented on #19
@mitacliff Beautymail is merely a wrapper around Laravel's Mail component, so anything you can do with the normal Mailer, you can do with Beautymail. So yes, to answer your question.

[2015-10-08 23:19] #19 closed

[2015-11-04 00:27] bmoelk commented on #13
Getting the same when using the minty template:

ErrorException: DOMXPath::query(): Invalid predicate

/vendor/pelago/emogrifier/Classes/Emogrifier.php:723
/vendor/pelago/emogrifier/Classes/Emogrifier.php:683
/vendor/pelago/emogrifier/Classes/Emogrifier.php:329
/vendor/pelago/emogrifier/Classes/Emogrifier.php:217
/vendor/snowfire/beautymail/src/Snowfire/Beautymail/CssInlinerPlugin.php:31
vendor/sw

[2015-11-08 08:22] shanka12 opened #20 "Undefined variable: logo"
Hi
I am getting following error message. How do I fix?

Undefined variable: logo
\vendor\snowfire\beautymail\src\views\templates\minty.blade.php

[2015-11-09 15:58] phroggyy commented on #20
@shanka12 This would be because you don't pass through any logo variable to the view. Either you modify the template to not include a logo, or pass the logo through.

[2015-11-09 15:58] #20 closed

[2015-11-20 01:12] azulkipli commented on #13
I got the 'ErrorException: DOMXPath::query(): Invalid predicate' issue too, when use minty template

[2015-12-09 10:35] richardkeep commented on #13
Got the same error too. I wonder why no one is figuring out how to solve it

[2015-12-10 00:34] phroggyy commented on #13
@richardkeep: the issue with the emogrifier?

[2015-12-10 01:14] richardkeep commented on #13
Yes

Kind Regards,

Richard

[2015-12-10 10:15] phroggyy commented on #13
@richardkeep: could you please open a new issue so I can close this one, as this one has so far taken up 3 issues, it would be helpful with one issue just describing the problem.

[2015-12-16 15:42] tiboufroulou opened #22 "Config file: css ignored"
'css' section of the published config file is ignored. This is due to the fact you are passing beautymail.view as parameter of Beautymail service constructor :)

[2016-01-17 18:42] simonfranz opened #23 "Queue not supported"
Hi there,

It does seem that beatymail cannot be queues
therefore this method should be implemented in Beautymail.php

	public function queue($view, array $data = [], $callback) {
		$data = array_merge($this->settings, $data);

		$this->mailer->queue($view, $data, $callback);
	}

Could you do this for the next version?
Thanks for the great package.

Best regards
Simon

[2016-01-18 07:59] emilsundberg commented on #23
Thanks @simonfranz, it would be great if you could submit your code as a PR.

[2016-01-20 07:04] simonfranz commented on #23
Done, I would be happy if this would be in the next version of beautymail.

[2016-01-21 18:50] emilsundberg commented on #23
Thanks! I'll have a test look soon, then I'll merge and create a new release.

[2016-02-03 17:15] antongorodezkiy commented on #22
+1

In my case I didn't use `$beautymail = app()->make(Snowfire\Beautymail\Beautymail::class);` currently and used Laravel's `Mail` instead, but with Beautymail's templates:

[code]

[2016-02-03 18:40] emilsundberg commented on #23
Your updates are included  in 1.0.9 :smiley:

[2016-02-03 18:40] #23 closed

[2016-02-03 18:44] emilsundberg commented on #22
Feel free to send a PR to fix this!

[2016-02-08 12:11] ecuation commented on #22
a fast solution for me was add 'css' into the "view" array in the beautymail.php configuration file:

[code]

and it works.

[2016-02-22 12:40] jongravois opened #27 "DOMXPath::query(): Invalid predicate"
I installed as directed and created this route:
[code]

I added the minty_test view (direct copy of supplied code):
[code]
and hit the route and got this:

[code]

[2016-03-12 10:19] #27 closed

[2016-03-12 10:19] emilsundberg commented on #27
Thanks for your report. This should work with latest dev-master now.

[2016-03-12 10:21] emilsundberg commented on #13
I have pushed a fix for `ErrorException: DOMXPath::query(): Invalid predicate`. See #27

[2016-03-12 10:21] #13 closed

[2016-03-12 22:32] jhoff opened #30 "Domain isn't set in queued job"
If you use Beautymail in a queued job, Request::getSchemeAndHttpHost() returns http://localhost by default, which means all images will be broken.

See this for reference: http://stackoverflow.com/questions/28373730/getting-route-url-from-queue-returns-wrong-base

Perhaps instead of relying on Request::getSchemeAndHttpHost(), we could use an injected view variable that either uses the Request or d

[2016-03-12 22:48] jhoff commented on #30
Disregard. Laravel already falls back to the url in config/app.php. I just forgot to set it. :/

[2016-03-12 22:48] #30 closed

[2016-04-06 11:45] denis-chmel opened #32 ".mobile_only elements are not shown on mobile"
Hi guys,

Why is there anything called CssInlinerPlugin? Seems it removes completely all tags that has class="mobile_only" from HTML, right before sending email. It probably strips everything else that have "display: none" (which is not under @media level).

After that this rules is never triggered:
https://github.com/Snowfire/Beautymail/blob/master/src/styles/css/ark.css#L63-L66
https://github.co

[2016-04-06 12:17] emilsundberg commented on #32
Thanks for you contribution @denis-chmel!

I just confirmed that this isn't working for me on the current version. Something must have been changed since it has worked before.

I'll have a deeper look soon, then I'll merge your PR and tag a new version.

[2016-04-06 13:04] denis-chmel commented on #32
Thank you, Emil.

[2016-04-18 21:57] ramsin102 commented on #32
Any idea when this will be fixed? I spent a couple hours debugging my code today until I came across this posting and realized it wasn't anything that I had done that had broken the emails on mobile.

[2016-04-19 06:47] emilsundberg commented on #32
Sorry for the delay and thanks for the reminder @ramsin102 :)

The PR is merged and I have tagged a new release 1.0.10

[2016-04-19 20:53] ramsin102 commented on #32
Thanks @emilsundberg it's working like a charm now! :)

[2016-04-20 08:06] #32 closed

[2016-04-23 13:04] freel132 opened #36 "It's not showing logo or FB icons"
I have default installation. but there is not showing logo and social media logo..

and working by default only 'widgets' template, other giving me error logo not found...
Any idea what is wrong? Using laravel 5.2

[2016-04-25 10:32] lstables opened #37 "Pass {{ url() }}"
Unable to pass ````{{ url() }}```` through to the class.

[2016-04-25 10:59] phroggyy commented on #37
Could you expand on where you're trying to pass this?

[2016-04-25 11:01] lstables commented on #37
So I the following:

[code]

The a href is where I want to pass ````{{ url() }}```` to

[2016-04-25 11:02] phroggyy commented on #37
Alright, and what error are you seeing?

[2016-04-25 11:03] lstables commented on #37
htmlentities() expects parameter 1 to be string, object given (View: /home/vagrant/code/moberce/resources/views/emails/campaigns/overdue.blade.php)

[2016-04-25 11:03] lstables commented on #37
My bad I needed to pass a param to it: ````{{ url('/') }}````

[2016-04-25 11:05] #37 closed

[2016-04-25 12:58] phroggyy commented on #36
How have you specified your logo?

[2016-04-29 04:35] spinner2727 opened #38 "Minty template doesn't read the color values in the config file properly"
No matter what I did, I couldn't get the Minty template to respect the colors I was putting in the config/beautymail.php file.  After looking in the minty.blade.php template file in the vendor src folder, I see it's pulling the values from Config::get('beautymail**::templates**.color.highlight'), which is null when I try to print it out.  Changing this to Config::get('beautymail.color.highlight')

[2016-05-06 09:40] Luceos commented on #36
@freel132 my guess is you haven't published the assets of this package yet __or__ you are working on a  local environment (which is not accessable by your mail client).

[2016-05-06 09:42] freel132 commented on #36
thats correct. it was local environment. thx

[2016-05-06 09:42] #36 closed

[2016-05-17 18:47] jaumeavila commented on #38
Yeah, the same here...

[2016-05-22 21:44] bikedel opened #40 "Display template in view"
Hello thanks for the great work.

How do I display the email template in a view instead of sending it?

[2016-05-23 03:23] phroggyy commented on #40
Hey,

Since it's just a normal blade template, you can use it just like any other blade template. Just create your blade file and return the view from a route.

[2016-05-23 03:23] #40 closed

[2016-05-23 18:49] bikedel commented on #40
Thanks but when I do that none of the data I pass is displayed like in the sent mail.
What am I doing wrong?
Thanks

From my controller:

        $data = array(
            'senderName'  => null, // Company name
            'reminder'    => 'You’re receiving this because....... Visit  <a href="http://www.domain.co.za/" style="color: #a6a6a6">our site</a>',
            'unsubscribe' => null,
     

[2016-05-26 22:57] phroggyy commented on #38
@spinner2727 you are right. It is the proper way to fix it afaik, that's how configs work, must be a mistake from our side! It'd be great if you could just PR the change :)

[2016-06-05 08:06] mikerockett opened #42 "Support for Lumen?"
Any chance support for Lumen could be added?

Presently, running the `vendor:publish` command results in the following fatal exception:

[2016-06-05 08:18] mikerockett commented on #42
So I've manually published the assets and config and have created the necessary helpers file for the `config_path` and `public_path`. Now, however, I'm running into this problem:

I installed `illuminate/mail` and I use it like this:

[code]

[2016-06-05 08:31] mikerockett commented on #42
Hmm, I think I'm going to land up switching the app over to Laravel... It's a really small app, which is why I chose Lumen, but every time I find a fix/workaround for an issue, another one pops up...

[2016-06-05 14:28] emilsundberg commented on #42
I've never used Lumen but if someone is up for making this package work with Lumen I'll happily accept a PR :)

Btw every time we have been thinking about Lumen in an app/utility we have always ended up with Laravel. It's so much less hassle.

[2016-06-05 14:40] mikerockett commented on #42
That is very true. It's a pity they took email out of the picture with Lumen - micro-services should be able to make use of email, and everything should be built in the same way it is with Laravel. I've switched over now, anyway, and the module is working great. Unfortunately, however, the templates don't appear to be compatible with Outlook 2013 (don't have another version to test on, but I'm sur

[2016-06-05 14:40] #42 closed

[2016-06-05 16:41] emilsundberg commented on #42
@mikerockett Did you try the sunny template? It should be compatible with Outlook 2013.

[2016-06-06 04:56] mikerockett commented on #42
I did indeed try it, and may land up going back to it if the Mailgun template I'm using now doesn't pan out.

[2016-07-12 08:49] ruthannedilig opened #43 "Class App\Http\Controllers\Snowfire\Beautymail\Beautymail does not exist"
Hi, i successfully installed the beauty mail in my laravel instance but I get this error..

here's my code

$beautymail = app()->make(Snowfire\Beautymail\Beautymail::class);
                        $beautymail->send('emails.booking-confirmation', $arData, function($m) use ($user) {
                             $m->to($user->email, $user->first_name . ' ' . $user->last_name);

[2016-07-12 21:06] emilsundberg commented on #43
Try adding a \ before Snowfire like this:

`\Snowfire\Beautymail\Beautymail::class`

[2016-07-12 21:12] phroggyy commented on #43
This is a referencing error, with the solution demonstrated by @emilsundberg. Another solution is placing `use Snowfire\Beautymail\Beautymail;` at the top of your class file and then just using `app(Beautymail::class)` (`app('something') is shorthand for `app()->make('something')`. Last but not least, you could also use the string: `app('Snowfire\Beautymail\Beautymail')`.

Closing this now as I be

[2016-07-12 21:12] #43 closed

[2016-07-15 13:23] gabrielsch commented on #30
@jhoff How did you solve it?

[2016-07-27 17:39] denis-chmel opened #44 "CSS inliner magic isn't applied for emails with attachments"
Hi guys,

When sending email with attachments (using regular attach() method):

[code]

The letter looks good in desktop mail, but wrong in gmail (which relies on inline styles).
Then I've dug that you're applying cssinliner only for cases when email Content-type is "text/html" or "multipart/alternative". While in above example the resulting email has "multipart/mixed".

Are you ignoring it by int

[2016-07-27 23:22] jhoff commented on #30
Set the `url` parameter in `config/app.php`

[2016-07-30 14:14] SadiqUltra commented on #20
$logo = Config::get('beautymail.logo');

and pass $logo

[2016-07-30 14:37] phroggyy commented on #20
@shanka12 @sadiqultra: what you can also do is create a view composer for all email views to automatically pass through the variable. Alternatively, using the Beautymail mailer rather than Laravel's own

[2016-08-30 11:09] rienheuver opened #46 "Upgrade to laravel 5.3"
In laravel 5.3 the mailer has changed, beautymail doesn't yet work with it.

[2016-08-30 11:44] emilsundberg commented on #46
Yep, love the new mail stuff in 5.3 :)

I'm currently very busy in the coming weeks, but we should of course support 5.3. If anyone wants to fix whatever needs to be done, please feel free to submit a PR.

[2016-09-02 14:32] #46 closed

[2016-09-05 10:04] vesper8 commented on #44
+1

running into this issue as well, emails look good unless you use attach or attachData then they look broken.

[2016-09-05 12:12] emilsundberg commented on #44
Sorry for the delay.

#45 is merged, so if you are running the dev-master it should work now.

[2016-09-06 10:20] PENDOnl commented on #38
I found a few things in the templates that doesn't seem to be right. The configuration settings aren't used across the templates at all. At least, it doesn't seem to work for me at all. I forked the repo and changed what @spinner2727 has requested, but I don't believe that fixes all issues concerning the colors and logo's used in the templates, does it?

[2016-09-06 10:36] PENDOnl commented on #38
Nevermind, that was a fault on my side. I'll create a PR with the changes as given by @spinner2727

[2016-09-06 14:25] emilsundberg commented on #38
Thanks for the fix @PENDOnl 👍

[2016-09-06 15:15] PENDOnl commented on #22
I'm on this.. almost got it covered. However, the $css variable doesn't seem to get set within the <style> tags. Currently testing some things and hopefully I'll have a working PR ready soon

[2016-09-06 15:41] PENDOnl commented on #22
I think I figured it out, tested and created a pull request (https://github.com/Snowfire/Beautymail/pull/50). I noticed not everything worked but that's a different issue.

[2016-09-06 15:46] PENDOnl commented on #38
Issue can be closed by the way 👍

[2016-09-27 15:14] 7henry767 opened #52 "Widgets unsuscribe"
I can't send links (for unsuscription) with the widgets template. Maybe it would be a good idea to disable the escaping there.

[2016-09-30 06:04] warmwhisky commented on #40
Same for me. When I pass it to a view its fails. I get the following error...

`Undefined variable: css `

[2016-12-05 14:13] pknad505 opened #54 "Changing subject title dynamically and pushing data into the view"
Hello I am trying to push data into the subject of $message however i keep getting that this variable doesn't exist and i cant work out how to fix it.
Here is a look at my function:
[code]

[2016-12-05 14:15] pknad505 commented on #54
Also how do i get data from my controller into the view before it sent

[2016-12-29 14:19] infernobass7 opened #56 "Use Beautymail on top of Laravel 5.3 mailables"
I was looking into a way to make beautymail work on top of the mailables. This is what I was able to come up with. I would love to see people's thoughts on the matter

[code]

[2017-01-06 21:16] xitude commented on #56
I have just started work on the same task. I'll give you suggestion a go and feedback if I can improve.

[2017-01-14 11:28] DuckThom opened #57 "Artisan breaks when no app key is set"
When the service provider `Snowfire\Beautymail\BeautymailServiceProvider::class` is set in `config/app.php`, running any artisan command will result in the following error if the app key has not been set yet.

[code]

After removing the service provider from the list, artisan started working again.

Laravel: 5.1
PHP: 7.0 and 7.1

[2017-01-14 11:30] emilsundberg commented on #57
Do you have a key specified in `config/app.php`/`.env`?

[2017-01-14 11:48] DuckThom commented on #57
I did some research and the following line in the server provider is causing the issue.

`$this->app['mailer']->getSwiftMailer()->registerPlugin(new CssInlinerPlugin());`

I do not have an app key set yet as it's a fresh clone of a laravel app.
But because the service provider is already in `config/app.php` I am not able to generate one either with `php artisan key:generate` due to the error.

[2017-01-14 12:02] DuckThom commented on #57
A fix would be to wrap that line in a `try catch` like this:

[code]

[2017-01-24 13:05] denis-chmel commented on #44
Thanks!

[2017-01-24 13:05] #44 closed

[2017-01-27 23:21] xitude commented on #56
If do you the suggested @infernobass7 then replace `Mailable` and extend the `BeautyMailable` class you can get this to work. Thanks for the suggestion.

[2017-01-28 18:07] kiwo12345 opened #59 "is it compatible with 5.4?"

[2017-01-30 10:56] emilsundberg commented on #59
I don't know. I haven't tried 5.4 yet, but feel free to do so and report back to us :)

[2017-01-30 10:57] #57 closed

[2017-01-30 11:03] #38 closed

[2017-01-30 11:03] #22 closed

[2017-02-02 19:34] xitude commented on #59
See #56

[2017-02-02 19:46] xitude opened #61 "How do we create new templates?"
I know I could just create a blade template and extend it, but I would like to know how *you* would like us to extend and create templates. Since there is zero documentation on this subject.

[2017-02-03 13:26] emilsundberg commented on #61
Yeah we need to find some kind of system for templates. There is no documentation since there is no good way to do it.

Our initial thoughts were to include great templates out of the box. And keep them inside the Beautymail repo to make sure we can update them to fix bugs and layouts issues.

It feels like there is a better way to do it. And maybe you should copy the template to your own project

[2017-02-03 13:35] xitude commented on #61
I resorted to building a template directory in my email views and extended that, but I feel like it defeats the point of Beautymail

[2017-02-03 16:48] sevenpointsix commented on #54
I believe you'll need to pass $project into your closure, something like this:

    $beautymail->send('emails.newIssue', ["project" => $name], function($message) use ($project)
        {

[2017-02-26 12:12] genz10 opened #62 "Logo width and height isn't implemented on minty template"
Hi,

I found that logo's width and height isn't implemented on minty template, therefore changing width and height on beautymail config won't affect anything. I've done this code on my local and it seems fine.

`<img src="{{ $logo['path'] }}" width="{{ $logo['width'] }}" height="{{ $logo['height'] }}" alt="logo" border="0" style="display:block; border:none; outline:none; text-decoration:none;" st-

[2017-02-26 12:17] emilsundberg commented on #62
Thanks for the report @genz10. Please feel free to open a PR with this change to the minty template and I'll merge it.

[2017-03-01 15:47] genz10 commented on #62
@emilsundberg PR submitted

[2017-03-06 06:56] jgbneatdesign commented on #56
Wouldn't it be simpler if Beautymail could simply hook itself in the View layer rather than replace the Mail class? I send it could be easier for compatibility with future versions of the framework. I'm on 5.3 now and soon 5.4 on a project and I wanted to send beautify emails with this package. But now with Mailables I just can't do it (easily). I think this package could just provide some templat

[2017-03-16 19:25] ikbelkirasan commented on #59
Yes, I've just sent an email using it with Laravel 5.4. No issues so far.

[2017-04-02 04:57] vesper8 commented on #56
@xitude

Hey thanks for trying to explain but I am confused by what you wrote

[code]

What did you mean? in his example he extends his BeautyMailable with Mailable. So what you said doesn't really make sense to me.

Can you post a final working example of how you are using mailables with this package?

@emilsundberg

Is there any chance this package will be updated to have a cleaner integration w

[2017-04-02 10:51] emilsundberg commented on #56
I'm open to the idea! We're still on 5.2 so I haven't had the time to investigate how to change this package to work with Mailable.

We will eventually get there, but I'm open to accepting PRs :)

[2017-04-02 21:28] xitude commented on #56
@vesper8

1. create a mail called `php artisan make:mail BeautyMailable`
2. paste @infernobass7's code inside
3. Create the mail you want to wrap and send e.g. php artisan make:mail ExampleMail`
4. Replace the `class ExampleMail extends Mailable` with `class ExampleMail extends BeautyMailable`
5. Make sure you import the class

This should let you create a mail with the BeautyMailable wrapper.

[2017-04-03 12:08] xitude commented on #56
Also this is now a thing https://laravel-news.com/email-themes

[2017-06-13 14:43] t-pankajkumar commented on #59
Unable queue mails using BeautyMail.

`Uncaught exception 'InvalidArgumentException' with message 'Only mailables may be queued.' in /opt/lampp/htdocs/Test/vendor/laravel/framework/src/Illuminate/Mail/Mailer.php:314`

[2017-08-07 19:56] arturcesarmelo opened #65 "How can i change this blue bar color?"
![captura de tela 2017-08-07 as 16 55 43](https://user-images.githubusercontent.com/18191910/29043380-52a5dcbc-7b91-11e7-8564-72587f253ca0.png)

[2017-08-08 15:09] emilsundberg commented on #65
If you publish the config you should be able to change it there. See the readme section called 'Publish assets to your public folder'.

colors => highlight => #004ca3

[2017-08-13 13:11] Binternet opened #66 "Clickable Logo"
I would like to make the logo clickable to a custom link (my website...)

I didn't see any configuration for that, is there a way to do it?

[2017-08-13 22:30] emilsundberg commented on #66
It is not possible right now, but I'm happy to merge a PR with a config variable that turns the logo into a link.

[2017-08-21 16:30] joseasve opened #68 "How to render a collection of data in the template?"
How to render a collection of data in the template?

[2017-08-23 19:46] #68 closed

[2017-09-05 19:15] eldinoyev opened #69 "Widgets Template optional footer"
Can we include a config property to not show the Footer?

[2017-09-05 19:23] eldinoyev opened #70 "Widgets Template Address unescaped data"
Can we have unescaped data in the Address field in the Widgets template? If you want to break a line between parts of an address, you cannot, as far as I know.

[2017-09-08 04:19] filjoseph1989 opened #71 "PHP error on class Beautymail.php line 7"
I just upgraded laravel from 5.4 to 5.5.3 but when I run php artisan SendNotification:notifications on command line I got this.
[code]

I am making notification in the background process, and you package break on 5.5.3 Laravel version,
it's working on laravel 5.4

[2017-09-08 15:09] ajwise0521 opened #72 "CssInlinerPlugin"
I am continuously getting the error from BeautyMailServiceProvider.php that 'Skipped Registering the SwiftMailer plugin: CssInlinerPlugin. I have no idea why and i've tried multiple approaches to get rid of it. Any ideas?

[2017-09-10 10:30] phroggyy commented on #71
@filjoseph1989 As of 5.5, the Mailer contract has changed. I'll try to resolve this today or tomorrow. We'll have to publish a new major version as this is a breaking change.

Just a note for myself:

- new patch release setting a stricter constraint of `4.*|<= 5.4`
- new major release with `illuminate/support: ^5.5` and new contract implementation

[2017-09-15 07:42] lstables commented on #71
@phroggyy Is this now fixed as I'm having the same issue with 5.5?

[2017-09-18 06:51] salomon022 opened #73 "laravel 5.5"
{ "message": "Class Snowfire\\Beautymail\\Beautymail contains 2 abstract methods and must therefore be declared abstract or implement the remaining methods (Illuminate\\Contracts\\Mail\\Mailer::to, Illuminate\\Contracts\\Mail\\Mailer::bcc)", "file": "C:\\xampp\\htdocs\\admin\\vendor\\snowfire\\beautymail\\src\\Snowfire\\Beautymail\\Beautymail.php", "line": 7, "trace": [] }

[2017-09-19 08:29] zeshan77 opened #74 "Unable to send email in Laravel 5.2"
Hi,

I am unable to send an email using `$beautymail->send()`, I don't get any error as well.
Below are my steps that I followed:

Install: `composer require snowfire/beautymail dev-master`

Update `config/app.php` with `Snowfire\Beautymail\BeautymailServiceProvider::class,`

Ran this command: `php artisan vendor:publish --provider="Snowfire\Beautymail\BeautymailServiceProvider"`

Added the code t

[2017-09-28 04:29] cliffordy commented on #71
@phroggyy Anyluck?

[2017-10-05 01:11] vesper8 commented on #71
@phroggyy running into same issue.. is fix around the corner? :)

[2017-10-07 04:22] timothyallan commented on #71
Aaaand I just hit this as well.

[2017-10-11 09:43] floreean commented on #71
Same here!

[2017-10-18 12:02] jamest-nz commented on #71
Here is a possible fix, which makes Beautymail work for me under Laravel 5.5.17 / PHP 7.0.24.

I'm not sure if my method implementations are correct, but at the very least your scripts will now run without complaining about unimplemented methods. My basic use-case of sending out email invitations to newly signing-up users now works well after applying the below patch.

Edit file at: vendor/snowfir

[2017-10-18 12:14] emilsundberg commented on #71
Thanks for your contribution @jamest-nz. Please note that it isn't recommended changing files in the vendors directory.

Please submit a PR with your changes and more people can try your fix and see if it works.

[2017-10-19 18:36] amazingdetective opened #75 "Class 'Snowfire\Beautymail\BeautymailServiceProvider' not found"
Not sure if I am being extremely silly or not, but been a tiring couple of days.

Similar issue as here: https://github.com/Snowfire/Beautymail/issues/3

I have done:

[code]

And attempted:

[code]
Which results in:
[code]

I tried composer update, which results in:
[code]

It is not a new project I am working on, and it is entirely possible someone already installed this before, as there is a be

[2017-10-24 14:41] ghost opened #76 "Unable to get it working in 5.5"
I get the following error:
[code]

Could you please bring an update for the latest laravel version?

[2017-10-26 21:38] emilsundberg commented on #71
I've merged a PR with the missing methods now. See #77

[2017-10-27 07:30] cliffordy commented on #71
Works Perfect... Thanks!

[2017-10-28 12:31] anantaramdas commented on #76
I found that it was resolved in https://github.com/Snowfire/Beautymail/issues/71 and pulled in https://github.com/Snowfire/Beautymail/pull/77 (you could check for your reference :) ).

After changing in composer to `dev-master`:
[code]
and running `composer update` it resolved issue.

[2017-10-30 18:31] warmwhisky commented on #75
I get this error on my remote server. Cannot composer update or install?
I'm stuck!

[2017-11-06 20:50] mobiblunt commented on #75
i'm also getting this error.

[2017-11-15 08:34] anandkumar144 commented on #75
me too.

[2017-11-17 07:14] InspiredPrynce commented on #75
Its killing us, please reply

[2017-11-17 08:43] emilsundberg commented on #75
Has anyone tried to solve this issue? Please let me know which version av Laravel you are running and that you are using the latest dev-master in your composer and I'll take a look.

[2017-11-17 09:19] InspiredPrynce commented on #75
Running Laravel 5.4 and i just installed the snowfire dev-master today

"require": {
        "php": ">=5.6.4",
        "doctrine/dbal": "^2.5",
        "guzzlehttp/guzzle": "^6.3",
        "laravel/framework": "5.4.*",
        "laravel/tinker": "~1.0",
        "snowfire/beautymail": "dev-master"
    }

[2017-11-17 09:31] anandkumar144 commented on #75
"require": {
        "php": ">=5.6.4",
        "acacha/admin-lte-template-laravel": "4.*",
        "barryvdh/laravel-dompdf": "^0.8.1",
        "laravel/framework": "5.4.*",
        "laravel/tinker": "~1.0",
        "nwidart/laravel-modules": "^1.27",
        "pear2/net_routeros": ">=1.0.0b6",
        "pear2/net_transmitter": ">=1.0.0b1",
        "snowfire/beautymail": "dev-master"
    }

[2017-11-17 18:10] amazingdetective commented on #75
@emilsundberg

Working for me now, not sure what fixed it but nothing specific has changed on my side, getting no errors any longer though. Maybe it was the tiredness.

Using laravel 5.4, and dev-master beautymail. Went through the exact process as the opening post. Working now.

[2017-11-18 19:06] InspiredPrynce commented on #75
I have fixed mine...
I removed the whole vendor directory and ran composer install and it worked like a charm....

[2017-11-21 13:34] InspiredPrynce opened #78 "Attaching Files In Snowfire"
Please how do i attach files while sending mails with snowfire?

[2017-11-21 13:49] InspiredPrynce opened #79 "Add variables into the markdown template"
Please, how do i add a variable into the mail template?

[2017-11-22 20:25] #79 closed

[2017-11-23 13:35] InspiredPrynce commented on #78
Help!!!!!!!!!!!

[2017-11-24 11:02] InspiredPrynce commented on #44
Why cant i attach emails with snowfire?

If i do ->attach(), i get an error, please am begging, help me out!
[code]

[2017-11-24 11:24] #78 closed

[2017-11-24 13:26] denis-chmel commented on #44
@InspiredPrynce try to pass full path to file into $data['file']
e.g. "/var/www/1511521470.docx"

[2017-11-28 08:46] msbir commented on #54
Hey, Any solution for passing data inside the view from the controller?

[2017-11-28 09:58] msbir opened #80 "Data on view"
How do I get data to the view from the controller?

my controller -

$order = $this->order;

$beautymail = app()->make(Beautymail::class);

$beautymail->send('mails.orderNotification', [], function($message)
    {
      $message
        ->from('someone@gmail.com')
        ->to('text@gmail.com', 'Jon Due')
        ->subject('Welcome');
    });

How can I pass the $order?

[2017-11-28 10:57] emilsundberg commented on #80
Something like this:

[code]

More info here: http://php.net/manual/en/functions.anonymous.php

[2017-11-28 10:59] msbir commented on #80
Thank you for the answer.

Maybe I wasn't clear enough,
I want to get the $order to the template view.

If normally I will do
view('mails.orderNotification',compact('order'));

How can I do it here?

[2017-11-28 14:04] emilsundberg commented on #80
Ah, try

[code]

[2017-11-28 14:24] msbir commented on #80
Thank you!

[2017-12-06 11:14] Hesesses commented on #36
I have a logo in .svg format and its not shown... jpg file works fine.

Any ideas why this is happening?

[2017-12-06 11:30] Hesesses commented on #61
any updates on this?

[2017-12-16 03:59] vesper8 opened #82 "somehow the latest version of pelago/emogrifier is not being fetched, broken on PHP 7.2"
I can't figure out why this is happening.

If I install pelago/emogrifier dev-master manually then it installs the latest dev-master commit

but when I install the snowfire/beautymail dev-master, even though ti has a dependency on pelago/emogrifier @dev, in my installation it doesn't get the latest version which leads to an error because the latest version it does get (1.2.0) is not compatible wit

[2017-12-24 13:34] #75 closed

[2018-01-07 00:09] oliverklee opened #83 "Update pelago/emogrifier dependency to ^2.0.0"
Emogrifier 2.0.0 has been released, fixing a lot of bugs. If the new PHP >= 5.5 requirement is not a problem, the dependency should be updated to ^2.0.0. This also provides compatibility with PHP 7.2.

[2018-01-22 22:26] oliverklee commented on #82
I recommend using the `^2.0.0` version constraint instead. Thus, you have the (now) current version, but will not get any breaking changes by accident.

[2018-01-31 15:58] AndyDunn commented on #80
Could you maybe include this in the docs as part of the examples?

[2018-02-11 07:41] InspiredPrynce commented on #75
Started a new project again and the problem started again. Please help

[2018-02-11 07:44] InspiredPrynce opened #84 "In ProviderRepository.php line 208 Class 'Snowfire\Beautymail\BeautymailServiceProvider' not found"
I followed the due process and i got this upon heroku deployment

[2018-02-20 10:20] ediblemanager opened #85 "InvalidArgumentException: Only mailables may be queued."
I get the feeling I'm missing something: Beautymail is a drop-in replacement for Mail, isn't it? So queueing should work without any issues.

This is Laravel 5.5 running on Ubuntu 14.04, PHP 7.0.

When running `$beautymail->queue('emails.welcome', [], new NewUser($member));`, (`NewUser` being a mailable, which `implements ShouldQueue`), I get the error `InvalidArgumentException: Only mailables may

[2018-02-20 10:23] ediblemanager commented on #59
@t-pankajkumar created a new issue for this [https://github.com/Snowfire/Beautymail/issues/85](url)

[2018-03-04 08:08] avp90 opened #86 "remove empty colspan"
Can you remove the empty colspan (without side effects) in `sunny\contentEnd.blade.php`?
[code]

To enable more flexible layouts like:
[code]

[2018-03-04 22:16] emilsundberg commented on #86
The best way to test this is to use https://litmus.com/ and send test emails before/after the change.

[2018-03-05 05:35] adrianpop1990 commented on #86
It worked in my test cases. Can you remove it in your repo?

[2018-03-06 14:07] adrianpop1990 commented on #86
I don't test it with Litmus.

[2018-03-17 10:01] wespiremedia commented on #85
After some time I figured out how to work with both Beautymail and the default Laraval Mailer + Queueing.

The Mailer Class you've created above is fine.

You should call it with the default method: `Mail::to($reciever_mail)->queue(new Newuser($member));`

This method will queue the mail and send it with your queue walker.
In my case I've chosen the 'Sunny' template which returns errors about miss

[2018-03-20 17:22] emilsundberg commented on #85
@wespiremedia Great debug for solving the queue issue. I will happily accept a PR with readme changes regarding this.

_(I'm not using queues with Beautymail)_

[2018-05-12 20:43] Binternet commented on #56
@infernobass7 it seems the code throws an `ErrorException`:

`Undefined variable: logo`

[2018-06-27 14:27] OctaneInteractive opened #87 "Memory problems while updating dependencies"
Hi! We're using a micro instance on AWS for staging, and when I ran the command: `composer require snowfire/beautymail dev-master`, getting as far as:

... but then after about 5-6 minutes, I got the following error:

[code]
The installation worked without problems in development.

Is this an issue with AWS itself?

The `composer.json` file is:

[code]

[2018-06-29 15:57] emilsundberg commented on #87
It's not recommended to run `composer require...` in staging/production and your micro instance is running out of memory. Try running it locally on your machine and commit `composer.lock`. When you've pushed your code to staging it should run `composer install`

[2018-07-10 13:59] OctaneInteractive commented on #61
Hi @xitude, how did you accomplish this? I ask because, having done the integration, I was expecting documentation explaining how to publish a custom template.

[2018-07-10 15:16] xitude commented on #61
@OctaneInteractive this was over a year ago, I now just extend the Laravel Default Markdown Notifications for Mail, Blade files via `php artisan vendor:publish --tag=laravel-notifications` quite a few tutorials are about. (Officially Here)[https://laravel.com/docs/5.5/notifications#customizing-the-templates]

[2018-07-11 07:46] OctaneInteractive commented on #61
@xitude, I appreciate this was some time ago, but this problem persists.

So do I move the Blade files I've created into the `resources/views/vendor/notifications/` folder, and if so, what about the `beautymail::templates` path, or do I ignore that and use something else?

[2018-07-11 09:02] xitude commented on #61
@OctaneInteractive ill most likely have to readd this to a new project and refigure it out. What version of laravel are you on?

[2018-07-11 09:08] OctaneInteractive commented on #61
@xitude, Laravel 5.6

[2018-07-11 09:23] xitude commented on #61
Ill start a new repo now and reattempt it. Ill update you soon.

[2018-07-11 10:14] xitude commented on #61
@OctaneInteractive also over a year ago I inputted in this issue. It might help.
https://github.com/Snowfire/Beautymail/issues/56

[2018-07-11 10:23] xitude commented on #61
Something that is annoying me while I reattempt this, is Laravel 5.6 [Mail](https://laravel.com/docs/5.5/notifications) has themes and documentation on [how to theme](https://laravel.com/docs/5.5/notifications#customizing-the-templates) your transactional mail. Im pretty sure this package is obsolete.

[2018-07-11 10:23] #61 closed

[2018-07-11 11:00] OctaneInteractive opened #88 "Problem removing Beautymail"
Hi, I ran the command: `composer remove snowfire/beautymail` and got the following:

While this hasn't caused problems on the development version, it's killed staging.

I've tried running: `composer update` and: `composer clearcache` but it's made no difference.

[2018-07-11 11:02] emilsundberg commented on #88
Try removing it manually from `composer.json` and then run a `composer update`

[2018-07-11 12:03] OctaneInteractive commented on #88
Yeah, that's what I did in the end.

[2018-07-11 15:49] #88 closed

[2018-07-18 11:16] apysais commented on #71
Is this fix? im getting an error after upgrading to Laravel 5.5

[2018-07-23 13:14] ALudwig57 opened #89 "Unresolvable dependency resolving [Parameter #0 [ <required> $settings ]]"
Hello,
I would like to install BeautyMail in my laravel 5.4 project.

I've installed it exactly like the instructions of the GitHub manual. I've updated the composer, but i've got the error when i try the test of the github manual :  Illuminate \ Contracts \ Container \ BindingResolutionException
Unresolvable dependency resolving [Parameter #0 [ <required> $settings ]] in class Snowfire\Beautymail

[2018-08-15 07:26] BlackHades commented on #89
@0oerdnaxelao0 run php artisan config:cache and php artisan cache:clear. Should work fine after that.

[2018-08-21 02:33] lifenglsf opened #90 "Do not show logo"
I send mail by artisan console,I do not want to show logo in my mail.how can i do.

[2018-10-20 16:55] adam9696 opened #91 "Expected response code 250 but got code "550", with message "550 Unauthenticated senders not allowed ""
Hi , im getting this error, and i dont know what issue, please help
Expected response code 250 but got code "550", with message "550 Unauthenticated senders not allowed "

[2018-10-30 07:35] tamimibrahim17 commented on #91
This error is due to your mail driver. Try switching different mail driver in your .env file.

[2018-12-12 08:28] sergeynilov opened #93 "How to attach file(s) ?"
Hello, I missed if there is a way to attach file(s) sending email this this plugin ?

[2019-01-10 06:50] warmwhisky commented on #75
Arghh I must remember not to use this package as it seems to have more trouble than anyone fixing. This had me stuck again!

I fixed it by renaming bootstrap/cache/config.php

Only then was I able to uninstall and use php artisan commands again.

[2019-01-15 09:30] svenhakvoort commented on #42
I found out a way to get this extension working on lumen with a few (relatively) easy additions, I could write a README for this if this is useful for you?

[2019-01-15 10:03] emilsundberg commented on #42
@svenhakvoort Feel free to add a section to the README as a PR for how to get this package running on Lumen :)

[2019-01-15 18:58] Nainabbas opened #97 "Queueable mail"
how to make it queueable??

[2019-01-16 07:57] emilsundberg commented on #97
See #85

[2019-01-16 07:57] #97 closed

[2019-01-17 17:35] LuisChicas commented on #89
For anyone who is still struggling with this, I found that it was an issue with the construction of Beautymail class in the example. It needs a 'settings' parameter to work.

Replace this line:

`$beautymail = app()->make(Snowfire\Beautymail\Beautymail::class);`

With this one:

`$beautymail = app()->make(Snowfire\Beautymail\Beautymail::class, ['settings' => null]);`

[2019-01-24 06:29] jishnu2292 opened #98 "How to check if mail sent or failed?"
How could we know if mail sent successfully or failed?

[2019-01-30 11:56] andrei2424 commented on #85
`Symfony\Component\Debug\Exception\FatalThrowableError: Argument 2 passed to Illuminate\Mail\Mailable::view() must be of the type array, null given, called in /var/www/app/Mail/SendMessage.php on line 32 in /var/www/vendor/laravel/framework/src/Illuminate/Mail/Mailable.php:687
Stack trace:
#0 /var/www/app/Mail/SendMessage.php(32): Illuminate\Mail\Mailable->view('emails.welcome', NULL)
#1 [internal

[2019-01-30 11:58] andrei2424 commented on #85
`class SendMessage extends Mailable implements ShouldQueue
{
    use Queueable, SerializesModels;

    public $user;

    /**
     * SendMessage constructor.
     * @param User $user
     */
    public function __construct(User $user)
    {
        $this->user = $user;
    }

    /**
     * Build the message.
     *
     * @return $this
     */
    public function build()
    {
        return $thi

[2019-01-30 19:41] jishnu2292 commented on #78
Have you got any idea?

[2019-02-01 09:12] wespiremedia commented on #85
Based on the error, `config('beautymail.view')` returns 'null' instead of a config array.

Does the config/beautymail.php file exists? Otherwise you should include them from the repo.

[2019-02-05 20:09] brunoramonalmeida commented on #93
Anynone??

[2019-02-10 19:56] Binternet commented on #66
https://github.com/Snowfire/Beautymail/pull/67

[2019-02-16 19:58] ladaposamuel commented on #23
How can I use this,
Thank you?
I still get the error

`Only mailables may be queued.`

[2019-02-19 07:21] singhsnt opened #100 "i'm getting this error how it can be resolved ?"
Expected response code 250 but got code "530", with message "530 5.7.1 Authentication required "

[2019-03-04 13:16] kajal989 opened #101 "how to change the example header"
![issue](https://user-images.githubusercontent.com/35804328/53735748-cb256280-3ead-11e9-973f-1b7332a292cb.png)

[2019-03-11 19:42] iamtoddperkins commented on #85
Just doing this seems to have gotten everything to work for me, keeping Mailable.

[code]

Note instead of passing in config('beautymail.view'), I'm passing $beautymail->getData(). That way Beautymail is able to set the css and correct logo path.

[2019-03-17 15:54] sherinmac opened #102 ""Too few arguments to function Snowfire\Beautymail\Beautymail::__construct(), 0 passed in"
use Snowfire\Beautymail\Beautymail;
$beautymail = new Beautymail;
 $beautymail->to($enquiry->customer_email)->send(new Enquirymail($enquiry));

I use this code in controller   and i  gett this error
Too few arguments to function Snowfire\Beautymail\Beautymail::__construct(), 0 passed in

[2019-04-07 12:08] Madhackers21 opened #103 "@mail.ru Emails are not Delivered"
Hello

Everything works Great, Fantastic!!
But when I change:

`->from('bar@example.com')` With `->from('anytestemail@mail.ru')`
I`m not receiving any Email :/
Error in Webmail:

host gmail-smtp-in.l.google.com [64.233.166.26]
    SMTP error from remote mail server after end of data:
    550-5.7.1 Unauthenticated email from mail.ru is not accepted due to domain's
    550-5.7.1 DMARC policy. Please

[2019-04-10 11:41] emilsundberg commented on #103
I don't think this has anything to do with Beautymail. I would suggest using an ESP such as Postmark/Sendgrid to send your emails.

[2019-04-10 11:41] #103 closed

[2019-04-17 09:41] JustAMurph commented on #102
BeautyMail expects a `$settings` parameter. Try resolving the instance out of the container instead like:

`$beautymail = app()->make(Snowfire\Beautymail\Beautymail::class);`

[2019-04-17 09:44] JustAMurph commented on #89
Make sure to include the service provider in your `app.php` config file. Without this, the binding will not resolve correctly.

You should not need to manually pass in the settings parameter if the service provider is registered correctly.

[2019-04-19 07:20] vedmant opened #105 "Support Laravel Package Auto-Discovery"
All the current laravel packages support Auto-Discovery, that would be good to add it here.

Just add to composer.json:

[code]

[2019-04-19 09:13] emilsundberg commented on #105
Sure, please submit it as a PR and I’ll merge it.

[2019-04-19 10:27] vedmant opened #107 "Please make a release to make it possible to stick to specific version"
Please make a release to make it possible to stick to specific version of this package and publish to packagist. Last release was more that 2 years ago.

[2019-05-03 19:29] LuChungHeng commented on #75
Yes to the required section. You will also need to run `composer update` after you've edited composer.json

[2019-05-10 15:10] OAmor commented on #43
yes it's really working by adding a \ before , but can i know why ??

[2019-05-20 06:01] tamimibrahim17 commented on #101
In ```/config/beautifymail.php``` file please change ```'view' => [ 'senderName' => '...'````

[2019-05-22 21:36] oleonides commented on #93
just do the following;
`->to('email@example.com', 'example')->attach(asset($path_to_the_file))`

[2019-05-27 05:54] wrtisans opened #109 "Error when after install and config this package"
`"message": "array_merge(): Expected parameter 1 to be an array, null given",
    "exception": "ErrorException",
    "file": "/Users/username/workspace/php/theo/vendor/snowfire/beautymail/src/Snowfire/Beautymail/BeautymailServiceProvider.php",
    "line": 53,`

php 7.3,
laravel 5.8

[2019-07-25 16:32] althafn96 commented on #109
Did you get a solution for this yet?

[2019-08-07 19:37] wrtisans commented on #109
Nop, i think this package was deprecated ...

[2019-08-14 11:32] InspiredPrynce opened #110 "array_merge(): Argument #1 is not an array"
[code]

[2019-08-30 12:00] Andrew-matm commented on #110
in  vendor/snowfire/beautymail/src/Snowfire/Beautymail/BeautymailServiceProvider.php

Change
[code]
to
` return new \Snowfire\Beautymail\Beautymail( config('beautymail.view')`

this will get you up and running

[2019-09-03 15:56] #93 closed

[2019-09-08 13:47] dhduc commented on #110
The reason for this issue is missing the `config/beautymail.php` file.
You can fix this by command:
[code]

[2019-09-08 13:49] dhduc commented on #109
You can check this out:
[https://github.com/Snowfire/Beautymail/issues/110#issuecomment-529204500](https://github.com/Snowfire/Beautymail/issues/110#issuecomment-529204500)

[2019-10-01 20:52] benjamin-ndc opened #111 "Pelago\Emogrifier dependency now broken"
For one you have it set to `'@dev'`.

They just released a new version a couple of hours ago, and removed a function that your package was using.

[code]

You'll have to set that dependency to use `"pelago\emogrifie": "2.2.0"`, otherwise now anyone using your package will have a broken install.

[2019-10-02 14:04] vesper8 commented on #111
Thanks for a fix. Small typo though (backward slash and missing 'r')

`"pelago/emogrifier": "2.2.0",`

[2019-10-02 16:19] hoanguel commented on #111
I am having exactly the issue that @benjamin-ndc  described above with my laravel app which now stopped running. What should I do to fix? Thanks!

[2019-10-02 16:24] benjamin-ndc commented on #111
@hoanguel I had to remove this dependency, it turns out it wasn't being used by my project anyway. Obv not a real solution if you're using it, maybe submit a PR to this project to update composer.json with the above fix...

[2019-10-02 20:24] vesper8 commented on #111
the fix above works just fine for me

Either do that, or fork the project and replace the @dev in the composer.json by 2.2.0

obviously just adding `"pelago/emogrifier": "2.2.0",` to your own composer.json is a much easier fix

[2019-10-05 15:03] emilsundberg commented on #111
Thanks. This issue has now been solved with #112

[2019-10-05 15:03] #111 closed

[2019-10-05 15:03] #110 closed

[2019-10-05 15:04] #109 closed

[2019-10-05 15:04] emilsundberg commented on #107
Sorry about that. I've tagged a new release now.

[2019-10-05 15:04] #107 closed

[2019-10-05 15:05] #102 closed

[2019-10-05 15:05] #101 closed

[2019-10-05 15:05] #91 closed

[2019-10-05 15:05] #87 closed

[2019-10-05 15:06] #89 closed

[2019-10-05 15:06] #86 closed

[2019-10-05 15:07] #84 closed

[2019-10-05 15:08] emilsundberg commented on #83
Fixed with #112

[2019-10-05 15:08] #83 closed

[2019-10-05 15:08] emilsundberg commented on #82
Fixed with #112

[2019-10-05 15:08] #82 closed

[2019-10-05 15:09] #80 closed

[2019-10-05 15:09] #76 closed

[2019-10-05 15:10] #74 closed

[2019-10-05 15:10] #73 closed

[2019-10-05 15:11] #71 closed

[2019-10-05 15:11] #70 closed

[2019-10-05 15:11] #66 closed

[2019-10-05 15:12] #59 closed

[2019-10-05 15:12] #56 closed

[2019-10-05 15:12] #52 closed

[2019-10-05 15:13] emilsundberg commented on #54
#80

[2019-10-05 15:13] #54 closed

[2019-10-05 15:14] #65 closed

[2019-10-05 15:32] #105 closed

[2019-10-09 16:11] toyinogunleye commented on #100
I got this error Problem 1
    - Installation request for snowfire/beautymail dev-master -> satisfiable by snowfire/beautymail[dev-master].
    - Conclusion: remove laravel/framework v6.2.0
    - Conclusion: don't install laravel/framework v6.2.0
    - snowfire/beautymail dev-master requires illuminate/support 4.*|5.* -> satisfiable by illuminate/support[4.0.x-dev, 4.1.x-dev, 4.2.x-dev, 5.0.x-dev,

[2019-10-09 18:39] ishenkoyv opened #113 "Packagist doesn't update to latest master commit"
emilsundberg made a commit several days ago to lock Pelago\Emogrifier to version 2.2.0 as Pelago\Emogrifier::disableInvisibleNodeRemoval() was deprecated and removed. https://packagist.org/packages/snowfire/beautymail#dev-master still keeps outdated version 6f503e1db32663ea1a460515c7de9cb0920a5acc with pelago/emogrifier: @dev.
To resolve it's required to add "pelago/emogrifier": "2.2.0" to your co

[2019-10-10 09:00] #113 closed

[2019-10-15 15:45] mestelles opened #114 "podrian agregarle la opcion de ReplyTo a la clase Beautymail"
in class BeautyMail
 public function replyTo($users)
    {
        return (new PendingMail($this))->replyTo($users);
    }
in  ```
class PendingMail
 public function replyTo($users)
    {
        $this->replyTo = $users;
        return $this;
    }
 protected function fill(Mailable $mailable)
    {
        return $mailable->to($this->to)
                        ->cc($this->cc)

[2019-10-15 18:12] emilsundberg commented on #114
Hi 👋

Please open your issue in English

[2019-10-15 18:12] #114 closed

[2019-10-15 18:31] mestelles opened #115 "could you add the ReplyTo option to the class Beautymail"
in class BeautyMail
public function replyTo($users)
{
return (new PendingMail($this))->replyTo($users);
}
in ```
class PendingMail
public function replyTo($users)
{
$this->replyTo = $users;
return $this;
}
protected function fill(Mailable $mailable)
{
return $mailable->to($this->to)
->cc($this->cc)
->bcc($this->bcc)
->replyTo($this->replyTo);

}

[2019-12-03 14:41] gfernandez-me commented on #111
not working

[2019-12-30 12:09] Binternet opened #116 "Doesn't work with latest Homestead / PHP 7.4"
The latest homestead comes with php7.4 by default.
You need to use php7.2 in order to get Beautymail and its dependancies to play nicely.

You need to use `php7.2` binary to run composer as a workaround:
`php7.2 /usr/local/bin/composer require snowfire/beautymail dev-master`

If that doesnt work just make sure these packages appear in `composer.json`:

[code]

And then fire:
`$ php7.2 /usr/local/b

[2020-01-04 12:01] dev-techguy opened #117 "pelago/emogrifier 3.1.0 in PHP 7.4.1"
Please update emogrifier usage...

[2020-02-05 13:34] RakibRizan opened #118 "When I am trying to install showing this problem. How I will solve this issue."
Microsoft Windows [Version 10.0.18362.592]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\xampp\htdocs\project test\agrobint-test>composer require snowfire/beautymail dev-master
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

[2020-02-28 21:13] CitizenBeta commented on #111
I'm still running into this issue.

[2020-02-28 21:39] CitizenBeta opened #120 "Laravel 5.8 Update Error"
I'm on the latest version of Laravel 5.8. I get this on running composer update. It doesnt help to downgrade versions either to an older commit. Any assistance would be greatly appreciated.

I tried all of these:

Then this:

Then this:

None work.

[2020-02-29 17:25] emilsundberg commented on #120
I’ll release a fix for this shortly. Please use the latest tagged release instead of dev-master to fix this issue right now

[2020-02-29 17:43] CitizenBeta commented on #120
How do I do that? Setting the above in composer didn't work.

[2020-02-29 19:24] emilsundberg commented on #120
Set a version on `composer.json` like this:
[code]

This issue has now been resolved with 942f8584135290a675944ed0d5c0e13c5e84031e

[2020-02-29 19:24] #120 closed

[2020-02-29 19:26] emilsundberg commented on #118
Which version of Laravel are you using? I've just upgraded the emogrifier lib so it might work now.

[2020-02-29 19:27] emilsundberg commented on #117
Done!

[2020-02-29 19:27] #117 closed

[2020-02-29 19:31] emilsundberg commented on #116
I've just tagged a release of Beautymail which supports PHP 7.4

[2020-02-29 19:31] #116 closed

[2020-02-29 19:33] emilsundberg commented on #115
This is how you send a beautymail with replyTo:

[code]

[2020-02-29 19:33] #115 closed

[2020-02-29 19:34] emilsundberg commented on #100
Use the latest version which is compatible with Laravel 6 and PHP 7.4

[2020-02-29 19:34] #100 closed

[2020-03-09 21:21] AngelNav opened #121 "How could I change background color of email?"
I've tried

`'css' => [
        'table #background-table { background: #26626B !important }'
    ],`

 and

`'css' => [
        '#background-table { background-color: #26626B !important }'
    ],`

but it stills not working

[2020-03-09 21:30] #121 closed

[2020-03-11 16:27] wsilva94 opened #122 "Compatibility Laravel 7"
Hello,

Is it possible to make it compatible in laravel 7?

[2020-03-11 17:18] wsilva94 commented on #122
Accept pull #123

[2020-03-11 20:12] #122 closed

[2020-04-01 16:53] Calibrah commented on #98
use an online mail driver ( e.g: mailtrap.io ) configure everything properly and you'll see every mail arrive in that inbox

[2020-04-18 20:09] Binternet opened #124 "Composer Requirements Issue"
I am using `Larvel 5.4.36`

When I'm running
`$ composer require snowfire/beautymail`

This is the output:

[code]

it seems that the first candidate of `pelago/emogrifier` is suffixed with `-dev` hence conflicts with the minimum default stability of `stable`  isn't it?

[2020-04-18 20:50] Binternet commented on #124
My bad, I had:
`"pelago/emogrifier": "2.2.0",` in `composer.json` as well, probably old and unused config.

[2020-04-18 20:50] #124 closed

[2020-07-23 08:33] bandite02 opened #127 "Call to undefined function Snowfire\\Beautymail\\config_path()"
i follow instruction to send email with beautymail in lumen, but i got an error: Call to undefined function Snowfire\\Beautymail\\config_path().
can someone help me please?
thanks

[2020-09-09 21:30] gfernandez-me opened #128 "Laravel 7/8 compatibility"
Hi,

any plans to update this package?

[2020-09-10 10:07] emilsundberg commented on #128
It should work fine with Laravel 7. I haven't tried Laravel 8 yet but feel free to test it and submit a PR.

[2020-09-21 02:08] shiroamada commented on #128
Is it ready to push to new version? @gfernandez-me thanks for the contribution

[2020-09-21 13:35] filipbekic01 commented on #128
This one is important.

[2020-09-21 13:46] gfernandez-me commented on #128
Yeah, it's working!

[2020-09-21 15:56] emilsundberg commented on #128
Merged #129

[2020-09-21 15:56] #128 closed

[2020-09-21 22:10] #69 closed

[2020-09-24 14:07] gfernandez-me commented on #72
Need to update the pelago emogrifier dependency

https://github.com/gfernandez-me/Beautymail/commit/f564b65a51d25f9bcf23c23bbe89d26b9e50d92e

[2020-11-12 19:29] raymondTheDev commented on #40
You can try this:

[code]

[2020-12-18 11:21] MichaelVoelkel opened #130 "beautymail.css not found"
array_merge(): Expected parameter 1 to be an array, null given

in BeautyMailServiceProvider.php:

`    public function register()
    {
        $this->app->singleton('Snowfire\Beautymail\Beautymail',
            function ($app) {
                return new \Snowfire\Beautymail\Beautymail(
                    array_merge(
                        config('beautymail.view'),
                        [

[2021-02-20 22:20] svenluijten commented on #130
idk if you're still facing this issue, but it's complaining about the _first_ parameter of `array_merge`, which in this case is `config('beautymail.view')`.

This is `null` because you probably haven't published the configuration yet; try `php artisan vendor:publish --provider="Snowfire\Beautymail\BeautymailServiceProvider"`.

[2021-04-15 17:33] mwiesener opened #132 "Using Beautymail with Laravel 8 and PHP 8.0.x required pelago/emogrifier"
I found pelago/emogrifier on https://github.com/MyIntervals/emogrifierwith actual release 5.01 supporting PHP 8.0.
Beautymail require:
"pelago/emogrifier": "^3.0"
please check your reuirement to use  "pelago/emogrifier": "^5.0"

Thanks if possible

[2021-04-23 08:03] lloricode opened #134 "PHP8 support?"

[2021-04-24 17:27] emilsundberg commented on #132
Solved with #133

[2021-04-24 17:28] #132 closed

[2021-04-24 17:39] emilsundberg commented on #134
Don't know, haven't upgraded to 8 yet

[2021-04-24 17:39] #134 closed

[2021-05-04 10:04] dev-techguy opened #135 "pelago/emogrifier"
- pelago/emogrifier is locked to version v3.1.0 and an update of this package was not requested.
    - When using composer 2+ and php version (8.0.5)

[2021-05-04 16:30] emilsundberg commented on #135
Try the latest tagged release which includes #131

[2021-05-04 16:30] #135 closed

[2021-05-05 12:46] dev-techguy commented on #135
Getting this error.

![Screenshot from 2021-05-05 15-42-40](https://user-images.githubusercontent.com/36882600/117142974-fde28280-adb8-11eb-8861-6b9aa3c2e30b.png)

[2021-05-05 14:40] gfernandez-me commented on #72
lol, still not working

[2021-05-05 23:26] lloricode commented on #135
same as mine after upgrading pelago/emogrifier (v3.1.0 => v5.0.1)

[2021-05-05 23:31] lloricode commented on #135
adding this to composer.json will temporary solve the problem

[code]

[2021-05-06 07:39] dev-techguy commented on #135
Cant work with `php version (8.0.5) does not satisfy that requirement`

[2021-05-06 08:56] lloricode commented on #135
i see, you are using php8, im using php74 while this is still issue

[2021-05-07 00:37] lloricode commented on #135
check this

https://github.com/MyIntervals/emogrifier/blob/main/CHANGELOG.md#removed-2
https://github.com/MyIntervals/emogrifier/pull/774
https://github.com/Snowfire/Beautymail/blob/a4c86eea2339b2a0c5e3ab75d5507a4c07b942d8/src/Snowfire/Beautymail/CssInlinerPlugin.php#L17

[2021-05-08 21:06] dev-techguy commented on #135
Guys, no fix on this issue has been released yet.

[2021-05-08 21:06] dev-techguy commented on #135
Guys, no fix on this issue has been released yet.

[2021-05-09 14:48] bashet commented on #135
This works for me. I am using Laravel 5.7, php 7.2

[2021-05-09 19:38] dev-techguy commented on #135
But not working with Laravel 8+ and php 8.0.5

[2021-05-09 20:48] 0x13ens opened #136 "Failed to install"
`> Illuminate\Foundation\ComposerScripts::postAutoloadDump

   Error

  Class "Pelago\Emogrifier" not found

  at C:\Users\zzzz\Desktop\zzzz\vendor\snowfire\beautymail\src\Snowfire\Beautymail\CssInlinerPlugin.php:17
     13▕      * Initialize the CSS inliner.
     14▕      */
     15▕     public function __construct()
     16▕     {
  ➜  17▕         $this->inliner = new \Pelago\Emogrifier();

[2021-05-10 07:57] danielsetreus commented on #136
Can confirm that we get the same issue `Class "Pelago\Emogrifier" not found` with the latest release that dependabot gives us (1.1.4). Yhay for automatic tests.

[2021-05-10 10:04] emilsundberg commented on #136
Sorry about that. I've tagged a new version that should solve this issue (v1.1.5)

[2021-05-10 10:06] emilsundberg commented on #135
The latest tagged version (v1.1.5) should solve this.

[2021-05-10 10:09] emilsundberg commented on #72
The latest version is now using the new Emogrifier syntax

[2021-05-10 10:09] #72 closed

[2021-05-10 16:02] dev-techguy commented on #135
Works, Cheers :)

[2021-05-11 12:06] #85 closed

[2021-05-11 12:06] #98 closed

[2021-05-11 12:06] #118 closed

[2021-05-11 12:06] #127 closed

[2021-09-21 13:53] ghambale opened #137 "Passing data to email template"
How can i pass data from controller to my email view ?
if it's possible, show me some sample code.

[2021-11-14 12:42] aeadedoyin commented on #137
Hi @ghambale

Just call the element of the data directly i.e.

[code]

Then in the mail blade file.

[code]

See how I used the `user` property directly instead of `$mailData->user->first_name // This will not work`

[2021-11-14 12:44] aeadedoyin commented on #137
Hi @ghambale

Just call the element of the data directly i.e.

[code]

Then in the mail blade file.

[code]

See how I used the `user` property directly instead of `$mailData->user->first_name // This will not work`

[2021-12-20 09:25] dev-techguy opened #138 "Package Install Fail Laravel ^8.76.2"
Problem 1
    - snowfire/beautymail v1.1.3 requires pelago/emogrifier ^3.0 -> satisfiable by pelago/emogrifier[v3.0.0, v3.1.0, 3.1.x-dev].
    - snowfire/beautymail[v1.1.4, ..., v1.1.5] require pelago/emogrifier ^3.0|^4.0|^5.0 -> satisfiable by pelago/emogrifier[v3.0.0, v3.1.0, 3.1.x-dev, v4.0.0, v5.0.0, v5.0.1].
    - snowfire/beautymail 1.x-dev requires illuminate/support 4.*|5.* -> found illumi

[2021-12-20 10:26] #137 closed

[2021-12-20 10:29] emilsundberg commented on #138
It looks like you are trying to install an older version? Try to install 1.1.15 instead of 1.1.13

[2021-12-21 02:57] dev-techguy commented on #138
TypeError: array_merge(): Argument #1 must be of type array, null given in /home/techguy/PhpstormProjects/full-stack-template/vendor/snowfire/beautymail/src/Snowfire/Beautymail/BeautymailServiceProvider.php:53

[2021-12-21 07:57] emilsundberg commented on #138
Follow the installation instructions in the readme.

[2021-12-21 07:57] #138 closed

[2021-12-30 07:34] uwejan opened #139 ""Attempt to read property \"view\" on null""
Trying to use the package sending. `notification`. keep getting the following error;
[code]
I double checked the view exists.

[2022-02-02 12:14] dev-techguy opened #140 "PHP 8.1+ ERROR"
Problem 1
    - pelago/emogrifier is locked to version v5.0.1 and an update of this package was not requested.
    - pelago/emogrifier v5.0.1 requires php ~7.1.0 || ~7.2.0 || ~7.3.0 || ~7.4.0 || ~8.0.0 -> your php version (8.1.2) does not satisfy that requirement.
  Problem 2
    - pelago/emogrifier v5.0.1 requires php ~7.1.0 || ~7.2.0 || ~7.3.0 || ~7.4.0 || ~8.0.0 -> your php version (8.1.2) does

[2022-02-03 22:22] dev-techguy commented on #140
How soon will this be resolved?

[2022-02-04 15:37] emilsundberg commented on #140
I'm not using 8.1 yet. You are free to send a PR to solve this issue. I guess we need to upgrade our dependency on emogrifier to 6.

[2022-02-06 14:39] dev-techguy commented on #140
Kindly.

[2022-02-12 23:11] AbdallaMohammed opened #141 "Laravel 9.x Compatibility"
Can you please update your package code and dependencies to be compatible with Laravel 9.x.?

[2022-02-17 11:38] justkidding96 commented on #141
@AbdallaMohammed I've created already a pull request for this issue. See: https://github.com/Snowfire/Beautymail/pull/142

[2022-02-18 15:17] #141 closed

[2022-03-19 19:47] robinlists opened #143 "Need a new release - close after reading"
It looks like your `master` branch is already patched up, but the 1.1.5 release is having issues.

No need to respond - feel free to close after you receive this.

PS: I can't wait to try out your package, I'm getting excited!!!

If I pull from `dev-master` all is well.

`If I pull from 1.1.5 on Laravel 9.5.x I get:`

[code]

[2022-03-21 01:13] robinlists opened #144 "Laravel 9 Error: Only mailables may be queued"
Hey there - I've been loving your templates. I just discovered you have a `queue` function the same as the `send` function.

I'm using Laravel Horizon, so queue is up and running.

Using `send` works great for all my emails so far.

Using `queue` throws an exception :(

**Exception:** `Only mailables may be queued`

[code]

[2022-04-19 07:06] realtebo commented on #140
We too have a project locked down to laravel 8 due to dependency with this project and  (indirectly) with new pelago/emogrifier

Please upgrade dependency

[2022-06-08 21:02] gfernandez-me commented on #143
I think the package itself is abandoned
I did a fork and changed the composer and I'm using mine from now on

[2022-06-08 21:04] gfernandez-me commented on #140
just need to change the composer json to something like this:

[code]

    my fork: https://github.com/gfernandez-me/Beautymail/blob/master/composer.json

[2022-07-06 16:50] #139 closed

[2022-08-13 14:49] arif98741 opened #146 "PHP 8.1 Doesn't Support Beautymail"
![image](https://user-images.githubusercontent.com/17213478/184499292-90ab3d35-494d-41ae-b97b-d8edbd0b582d.png)

[2022-09-24 06:53] #144 closed

[2022-10-10 01:00] lloricode commented on #143
maybe you can use like this

[code]

then run `composer u`

@emilsundberg follow up for the release for this

[2022-10-10 01:00] lloricode commented on #140
https://github.com/Snowfire/Beautymail/issues/143#issuecomment-1272675977

[2022-10-10 01:00] lloricode commented on #146
https://github.com/Snowfire/Beautymail/issues/143#issuecomment-1272675977

[2022-11-11 07:38] britisharmy opened #148 "How to edit email header without editing the published tempates in vendor"
I am using minty template and i need to set my logo and other text on the logo. However i cant seem to know how that logo is editable. The contentstart in vendor directory doesnt seem to have the logo position either so now my emails are sent without a logo, just a plain blue rectangle at the top.

[code]

[2022-11-11 07:51] britisharmy commented on #148
I have seen the config file and was able to change the logo over there.

[2022-11-11 07:51] #148 closed